<% layout('layout') -%>
<div class="container">
<% for(var i=0; i<user.wants.length; i++) {%>
<% if(user.wants[i] in data) { %>
	<div class="language" id="<%=user.wants[i]%>">
		<h2><%=user.wants[i]%></h2>
		<hr/>
		<div class="people">
		<% for(var j=0; j<data[user.wants[i]].length; j++) {%>
			<div onclick="call('<%=data[user.wants[i]][j].id%>', '<%=user.wants[i]%>');">
				<img src="<%=data[user.wants[i]][j].image%>"/>
				<h4><%=data[user.wants[i]][j].name%></h4>
				<p><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span></p>
			</div>
		<% } %>		
		</div>
		<% } %>
	</div>
<% } %>	
</div>




<script>
function call(user, language) {
	
	$.getJSON('/api/user?id='+user, function(data){
		console.log(data);
		$('#firstName').html(data['name']);
		$('#fullName').html(data['name'] + ' '+data['surname']);
		$('#about').html(data['about']);
		document.getElementById("image").src=data['image'];
		var temp = ["<h2>Knows</h2>"];
		for (var i = 0; i < data['knows'].length; i++) {
			temp.push('<p>'+data['knows'][i]+'</p>');
		};
		$('#left').html(temp.join(''));

		temp = ["<h2>Wants</h2>"];
		for (var i = 0; i < data['wants'].length; i++) {
			temp.push('<p>'+data['wants'][i]+'</p>');
		};
		$('#right').html(temp.join(''));
		$('#call').click(function(){
			beginCall(user, language);
		});
		$('#profile').modal('show');
	});
	
}


function beginCall(user, language){
	socket.emit('beginCall', {from: '<%=user.id%>', user: user, lang: language});
}
</script>